<!DOCTYPE html>
{% load static i18n flag_filter %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as LANGUAGES %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <title>{% trans "Villa Duka" %}</title>
    <link href="{% static 'assets/images/logo.png' %}" rel="icon">
    <link href="{% static 'assets/images/logo.png' %}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendorvilla/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-villa-agency.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i>info@villaduka.com</li>
            <li><a href="https://maps.app.goo.gl/35ur76aNYEqxUcTD8" target="_blank"><i class="fa fa-map"></i>{% trans "Rruga Gurkuqe, Kruje 1501, Albania" %}</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="https://www.airbnb.com/rooms/998499954009010728?adults=1&enable_m3_private_room=true&check_in=2024-09-01&source_impression_id=p3_1701990625_FV5gDir4fVlwPN6A&previous_page_section_name=1000&federated_search_id=71f03e56-4236-431b-a148-d3e8aa1b9532&guests=1&check_out=2024-09-03&_set_bev_on_new_domain=1701990582_NjYxN2E4MjViNGU2&locale=en" target="_blank"><i class="fab fa-airbnb"></i></a></li>
            <li><a href="https://www.booking.com/hotel/al/villa-duka-kreis-kruja.en-gb.html?aid=304142&label=gen173nr-1FCAEoggI46AdIM1gEaAaIAQGYAQm4AQfIAQzYAQHoAQH4AQyIAgGoAgO4Apm96qkGwAIB0gIkNzg5ZTkxM2ItOWRlYi00MzIzLWI4OTUtZWViMWI3NTAzZTA32AIG4AIB&sid=628f16f7bc3135ba02bf7cb19e182ae9&dest_id=10744938;dest_type=hotel;dist=0;group_adults=1;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=1;req_children=0;room1=A;sb_price_type=total;sr_order=popularity;srepoch=1698340532;srpvid=53ad79554a09007b;type=total;ucfs=1&" target="_blank"><i class="fab fa-b"></i></a></li>
            <li><a href="https://www.google.com/search?q=villa+duka+kruje&sca_esv=576846173&rlz=1C5CHFA_enAL1066AL1066&sxsrf=AM9HkKkii-IEjwfTo72aWvA3LmGCvymODQ%3A1698340893540&ei=HaA6Za7EILqVxc8PzvqWmAc&hotel_occupancy=&oq=villa+duka&gs_lp=Egxnd3Mtd2l6LXNlcnAiCnZpbGxhIGR1a2EqAggBMggQABiABBiwAzIIEAAYgAQYsAMyCxAAGMsBGIAEGLADMgcQABgeGLADMgkQABgIGB4YsAMyCxAAGIoFGIYDGLADMgsQABiKBRiGAxiwA0iAC1AAWABwAXgAkAEAmAEAoAEAqgEAuAEByAEA4gMEGAEgQYgGAZAGBw&sclient=gws-wiz-serp" target="_blank"><i class="fab fa-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/images/logo.png' %}" width="415 px" height="80 px" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index' %}"  class="active">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'about' %}">{% trans "About Us" %}</a></li>
                        <li><a href="https://www.booking.com/hotel/al/villa-duka-kreis-kruja.en-gb.html?aid=304142&label=gen173nr-1FCAEoggI46AdIM1gEaAaIAQGYAQm4AQfIAQzYAQHoAQH4AQyIAgGoAgO4Apm96qkGwAIB0gIkNzg5ZTkxM2ItOWRlYi00MzIzLWI4OTUtZWViMWI3NTAzZTA32AIG4AIB&sid=628f16f7bc3135ba02bf7cb19e182ae9&dest_id=10744938;dest_type=hotel;dist=0;group_adults=1;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=1;req_children=0;room1=A;sb_price_type=total;sr_order=popularity;srepoch=1698340532;srpvid=53ad79554a09007b;type=total;ucfs=1&" target="_blank"><i class="fa fa-calendar"></i>{% trans 'Reserve Now' %} </a></li>
                    </ul>  
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
      <ul>
          <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ request.path }}">
              <select name="language" onchange="this.form.submit()">
                  {% for lang_code, lang_name in LANGUAGES %}
                      <option value="{{ lang_code }}" {% if lang_code == CURRENT_LANGUAGE %}selected{% endif %}>
                          {{ lang_name }} {{ lang_code|flag }}
                      </option>
                  {% endfor %}
              </select>
          </form>
      </ul>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <span class="category">Kruje, <em>{% trans 'Albania' %}</em></span>
          <h2><br><br>{% trans 'We are very pleased to welcome you.' %}<br><br><br></h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category">Kruje, <em>{% trans 'Albania' %}</em></span>
          <h2>{% trans 'Our house offers you a cozy atmosphere, comfortable rooms and first-class service.' %}</h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category">Kruje, <em>{% trans 'Albania' %}</em></span>
          <h2><br><br>{% trans 'Enjoy your stay and let us pamper you.' %}<br><br><br></h2>
        </div>
      </div>
    </div>
  </div>
<!-- end -->


  <div class="video section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| {% trans 'Video View' %}</h6>
            <h2>{% trans 'Get Closer View & Different Feeling' %}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="{% static 'assets/images/video-frame.jpg' %}" alt="">
            <a href="https://www.youtube.com/watch?v=9sh997zaD-A" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| {% trans 'Rooms' %}</h6>
            <h2>{% trans 'We Provide The Best Rooms You Like' %}</h2>
          </div>
        </div>
      </div>
      <div class="row">
         {% for portfolio in portfolios %}
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="{{ portfolio.link }}" target="_blank"><img src="{{ portfolio.image.url }}" alt=""></a>
            <span class="category">{{ portfolio.title }}</span>
            <h4><a href="{{ portfolio.link }}" target="_blank">{{ portfolio.square_meters }} m²</a></h4>
            <ul>
              <li>{{ portfolio.paragraph }}</li>
              <li>{{ portfolio.paragraph2 }}</li>
            </ul>
            <div class="main-button">
              <a href="{{ portfolio.link }}" target="_blank">{% trans 'More Info' %}</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
<!-- end-->
  <div class="contact section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| {% trans 'Contact Us' %}</h6>
            <h2>{% trans 'Get In Touch With Our Family' %}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.5529905541703!2d19.791665075740585!3d41.51396078813497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1351cde2b767a603%3A0xfac2046ef421bf1c!2sVilla%20Duka!5e0!3m2!1sen!2s!4v1698176632539!5m2!1sen!2s" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="item phone">
                <img src="{% static 'assets/images/phone-icon.png' %}" alt="" style="max-width: 52px;">
                <h6>+355 694310240<br><span>{% trans "Phone Number" %}</span></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item email">
                <img src="{% static 'assets/images/email-icon.png' %}" alt="" style="max-width: 52px;">
                <h6>info@villaduka.com<br><span>{% trans "Business Email" %}</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <form id="contact-form" action="{% url 'success' %}" method="post">
              {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <label for="name">{% trans 'Full Name' %}</label>
                  <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="email">{% trans 'Email Address' %}</label>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="subject">{% trans 'Subject' %}</label>
                  <input type="subject" name="subject" id="subject" placeholder="Subject..." autocomplete="on" >
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="message">{% trans 'Message' %}</label>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">{% trans 'Send Message' %}</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="col-lg-8">
          <p>Copyright © 2024 Villa Duka. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendorvilla/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendorvilla/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/counter.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>